* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-main {
    

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");

    background-size: cover;
    background-position: center;

    padding-bottom: 2rem;
}
#main-card{
    margin: 2rem 0;
    padding: 1rem 2rem;
}
.redirect:hover {
    cursor: pointer;
    color: #D3D3D3;
}

.head p {
    color: white;
    font-size: larger;
}

.top-p {
    color: #708090;
}

h4 {
    color: #708090;
}