/* Tagline Content of the home Page */
.short-tagline{
    background-color: rgba(27, 137, 159, 0.768);
    width: 250px;
    padding: 5px 8px 5px 12px;
    border-radius: 20px;
    margin-bottom: -40px;
}
.tagline h1{
    font-size: 4.2rem;
    margin: 3rem 0 0 3rem;
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    font-weight: 700;
}
.tagline p{
    color: white;
    font-size: 1.1em;
    margin-left: 3rem;
}
.tagline{
    margin-left: 80px;
    margin-top: 10rem;
}
.signing{
    padding: 12px 20px 12px 20px;
    background-color: black;
    width: 12rem;
    font-weight:700;
    font-size: 20px;
    border-radius: 2rem;
    margin-top: 70px;
    margin-left: -80px;
    align-items: center;
}


